<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>CRM User Password Page</title>
	
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

	<!-- Html -->
	<link href="../../../resources/static/css/bootstrap.css" rel="stylesheet" type="text/css" />

	<!-- Thymeleaf -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="headwrapper">
		<div th:replace="fragments/header :: header"></div>
	</div>
	
	<div class="container">
		<div class="col-sm-7 col-md-8">
			<form th:action="@{/authenticatedUsers/savePassword/} + ${user.id}" method="post">
				<fieldset>
					<h1>Passwort aendern</h1>

					<div th:if="${param.errorNewPassword != null}">
						<div class="alert alert-danger">
							<p>Die neuen Passwoerter stimmen nicht ueberein</p>
						</div>
					</div>
					
					<div th:if="${param.errorOldPassword != null}">
						<div class="alert alert-danger">
							<p>Das alte Passwort ist ungültig</p>
						</div>
					</div>
					
					<div th:if="${user != null}">
						<div class="form-group">
							<label id="username" th:text="${user.userName}"/>
						</div>
						
						<div class="form-group">
							<input type="password" name="oldPassword" id="oldPassword"
								placeholder="Altes Passwort" required="true" />
						</div>
	
						<div class="form-group">
							<input type="password" name="newPassword0" id="newPassword0"
								placeholder="Neues Passwort" required="true" />
						</div>
						
						<div class="form-group">
							<input type="password" name="newPassword1" id="newPassword1"
								placeholder="Neues Passwort" required="true" />
						</div>
	
						<p>
							<input type="submit" value="Speichern" />
						</p>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div th:replace="fragments/footer :: footer"></div>
			</div>
		</div>
    </div>

</body>
</html>
