
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>CRM Main Page</title>
	
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

	<!-- Html -->
	<link href="../../resources/static/css/bootstrap.css" rel="stylesheet" type="text/css" />

	<!-- Thymeleaf -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="headwrapper">
		<div th:replace="fragments/header :: header"></div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-md-4">
				<div class="contentbox" id="main">

					<h2 id="h2">Kundenübersicht</h2>
		
					<table class="table table-condensed customerList">
						<tr>
							<th scope="col">Kunde</th>
							<th scope="col">Kundennummer</th>
						</tr>
						<tr  th:each="customer : ${customers}">
							<td>
								<a href="showCustomer.html" 
									th:href="@{'/user/showCustomer/' + ${customer.customerId}}"
									th:text="${customer.name}">
									Big Dady
								</a>
							</td>
							<td th:text="${customer.customerId}">-1</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-12">
				<div th:replace="fragments/footer :: footer"></div>
			</div>
		</div>
		
	</div>
</body>

</html>